@import "_variables";

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
} // ~ 414

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
} // ~ 768

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
} // ~ 978

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
} // ~ 1200

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
