@import "_variables";
@import "_mixins";

#about {
  width: 100%;
  height: 100%;
  overflow: auto;
  .wrap-column {
    // height: 300%;
    display: flex;
    flex-direction: column;
    background: $navy;
    gap: 1px;
    & > div {
      background: $beige;
      padding: 30px;
    }
    .about-text {
      display: flex;
      align-items: center;
      justify-content: center;
      .mimoticon {
        margin-bottom: 30px;
        img {
          width: 380px;
        }
      }
      p {
        // width: calc(100% - 380px);
        line-height: 1.5;
        font-size: 1.3em;
        strong {
          font-size:1.4em;
        }
      }
      span {
        display: inline-block;
        width: 100%;
      }
    }
    .tag {
      text-align: center;
      span {
        display: inline-block;
        border:1px solid $navy;
        // background: $navy;
        color: $navy;
        padding:4px 10px;
        border-radius:999px;
        font-size:1.1em;
        margin-bottom:6px;
        transition: background 0.15s, color 0.15s;
        &:not(:last-child) {
          margin-right:6px;
        }
        &:hover {
          background: $navy;
          color:#fff;
        }
      }
    }
    .skill,
    .history {
      .cont {
        height: 80%;
        .text {
          padding: 10px;
          font-size:1.1em;
        }
      }
    }
    .skill {
      .cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
        & > div {
          .img {
            span {
              font-size: 7vw;
            }
          }
          .text {
            h4 {
              margin-bottom: 20px;
              font-size: 1.3em;
            }
            p {
              font-size: 1.1em;
              line-height: 1.3;
              word-break: keep-all;
            }
          }
        }
      }
    }
    .mind {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr auto;
      .title {
        border-right: 1px solid $navy;
        overflow: hidden;
        background:url('../../img/star-l.png')no-repeat center / auto 75%;
        h4 {
          height: 100%;
          @include flex-center;
          font-size: 4vw;
          transform: rotate(6deg);
          text-align: center;
          word-break: keep-all;
        }
      }
      .text {
        padding: 30px;
        font-size: 1.2em;
        line-height: 1.3;
      }
    }
    .history {
      display: flex;
      padding: 30px 40px 60px;
      gap: 50px;
      justify-content: center;
      h2 {
        font-size: 5em;
      }
      .cont {
        display: flex;
        flex-direction: column;
        gap: 30px;
        & > div {
          height: 25%;
          display: flex;
          gap: 20px;
          h3 {
            font-size: 1.5em;
          }
          p {
            font-size: 1.1em;
            line-height: 1.4;
            vertical-align: bottom;
            strong {
              display: inline-block;
              margin-bottom: 5px;
              margin-right: 5px;
              font-size: 1.2em;
            }
            small {
              font-size: 0.9em;
            }
            br:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* media-query */
@include laptop {
  // ~ 978
  #about {
    .wrap-column {
      display: flex;
      flex-direction: column;
      .about-text {
        .text {
          padding-top: 50px;
          gap: 0;
        }
      }
      .history {
        position: relative;
        h2 {
          position: absolute;
          top: 30px;
          left: calc(1.5em + 30px);
          transform-origin: 0 0;
          transform: rotate(90deg);
          font-size:9vw;
        }
        .cont {
          margin-left: calc(1.5em + 30px + 70px);
        }
      }
    }
  }
}
@include tablet {
  // ~ 768
  #about {
    .wrap-column {
      .about-text {
        padding: 30px 0;
        flex-direction: column;
        .mimoticon {
          text-align: center;
          padding: 0 30px;
          img {
            width: 100%;
            max-width: 380px;
          }
        }
        .text {
          padding: 30px 0 50px;
          width: 100%;
          max-width: 450px;
          text-align: center;
          font-size: 2.1vw;
          strong {
            font-size:3vw;
          }
        }
      }
      .tag {
        text-align: left;
        padding: 16px;
      }
      .skill {
        padding: 30px 2% 50px;
        .cont {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .skill-cont {
            display: grid;
            grid-template-columns: 1fr 2.5fr;
            align-items: center;
            .img {
              span {
                font-size: 5.5em;
                &.paint {
                  font-size: 4.4em;
                }
              }
            }
            .text {
              text-align: left;
              padding: 0;
              h4 {
                margin-bottom: 10px;
                font-size: 1.5em;
              }
            }
          }
        }
      }
      .mind {
        display: flex;
        flex-direction: column;
        .title {
          border: 0;
          border-bottom: 1px solid $navy;
          h4 {
            padding: 40px 0;
            font-size: 5.5vw;
            transform: rotate(8deg);
          }
        }
        .text {
          font-size: 1.1em;
          p {
            word-break: keep-all;
            br {
              display: none;
            }
          }
        }
      }
      .history {
        padding: 30px 25px 40px;
        h2 {
          left: calc(1.5em + 15px);
        }
        .cont {
          margin-left: calc(1.5em + 70px);
          margin-top: 10px;
          .history-cont {
            display: block;
            h3 {
              display: inline-block;
              margin-bottom: 10px;
              font-size: 1.4em;
              br {
                display: none;
              }
            }
            p {
              strong {
                background: $navy;
                color: #fff;
                font-weight: normal;
                padding: 0 7px;
              }
              small {
              }
            }
          }
        }
      }
    }
  }
}
@include mobile {
  // ~ 414
  #about {
    .wrap-column {
      .about-text {
        .mimoticon {
          padding: 0 40px;
        }
      }
      .skill {
        padding: 30px 20px 70px;
        .cont {
          .skill-cont {
            display: flex;
            flex-direction: column;
            .img {
              span {
                font-size: 25vw;
                display: inline-block;
                &.paint {
                  font-size: 22vw;
                  margin-bottom: 15px;
                }
              }
            }
            .text {
              text-align: center;
            }
          }
        }
      }
      .history {
        padding: 20px 20px 40px;
        flex-direction: column;
        gap: 20px;
        h2 {
          position: relative;
          transform: rotate(0);
          left: 0;
          top: 0;
          font-size: 3em;
        }
        .cont {
          margin: 0;
        }
      }
    }
  }
}
