@import "_variables";
@import "_mixins";

#contact {
  position: relative;
  background: $navy;
  gap: 1px;
  & > div {
    background: $beige;
    &:not(.footer) {
      height: 100%;
      overflow: auto;
    }
  }
  .contact-form {
    padding:0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-size: 10em;
      padding-bottom:3vh;
      b {
        color:$beige;
          text-shadow: -1px -1px 0 $navy,
                      1px -1px 0 $navy,
                      -1px 1px 0 $navy,
                      1px 1px 0 $navy;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        border: 0;
        width: 100%;
        padding: 15px;
        color: $navy;
        font-size: 1.6vw;
        font-family: "Montserrat", "Roboto", "Noto Sans KR", sans-serif;
        background:none;
        border-bottom:1px solid $navy;
      }
      textarea {
        border: 0;
        height:30vh;
        padding: 10px 15px;
        color: $navy;
        font-size: 1.6vw;
        resize: none;
        font-family: "Montserrat", "Roboto", "Noto Sans KR", sans-serif;
        background:none;
        border-bottom:1px solid $navy;
      }
      .send-btn {
        display: inline-block;
        width:fit-content;
        margin-top:50px;
        padding: 10px 30px;
        font-size: 1.8vw;
        font-weight: bold;
        border:1px solid $navy;
        border-radius:999px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        &:hover {
          background: $navy;
          color: #fff;
        }
      }
    }
  }
}
@include desktop {
  #contact .contact-form {
    h3 {
      font-size:8vw;
    }
  }
}
@media screen and (min-width: 979px) and (orientation: portrait) {
  #contact {
    display: flex;
    flex-direction: column;
    gap: 0;
    .contact-form {
      height: 60% !important;
    }
  }
}

/* media-query */
@include laptop {
  // ~ 978
  #contact {
    .contact-form {
      h3 {
        font-size:10.5vw;
        padding-bottom:1vh;
      }
      form {
        input,
        textarea {
          font-size:2.2vw;
        }
        textarea {
  
        }
        .send-btn {
          margin-top: 30px;
          font-size: 1.8em;
        }
      }
    }
    .footer {
      grid-column: span 2;
    }
  }
}
@include tablet {
  // ~ 768
  #contact {
    display: block;
    .contact-form {
      height: calc(100% - 80px) !important;
      padding:0 30px;
      border-right: 0;
      border-bottom: 1px solid $navy;
      h3 {
        font-size: 15vw;
        line-height: 1;
      }
      form {
        input,
        textarea,
        .send-btn {
          font-size: 3vw;
        }
        textarea {
          height:20vh;
        }
      }
    }
  }
}
@include mobile {
  // ~ 414
  #contact {
    .contact-form {
      height: calc(100% - 100px) !important;
      padding:0 15px;
      h3 {
        font-size:18vw;
      }
      form {
        input,
        textarea,
        .send-btn {
          font-size: 4.5vw;
        }
        textarea {
          height:25vh;
        }
        .send-btn {
          margin:2.5vh 0;
        }
      }
    }
  }
}
