@import "_variables";
@import "_mixins";

#contact {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
  background: $navy;
  gap: 1px;
  & > div {
    background: $beige;
    &:not(.footer) {
      height: 100%;
      overflow: auto;
    }
  }
  .contact-form {
    h2 {
      height: 20%;
      font-size: 5.5vw;
      @include flex-center;
    }
    form {
      height: 80%;
      display: flex;
      flex-direction: column;
      border-top: 1px solid $navy;
      input {
        border: 0;
        border-bottom: 1px solid $navy;
        width: 100%;
        height: 15%;
        padding: 20px;
        background: none;
        color: $navy;
        font-size: 1.5vw;
        font-family: "Montserrat", "Roboto", "Noto Sans KR", sans-serif;
      }
      textarea {
        border: 0;
        border-bottom: 1px solid $navy;
        height: 55%;
        padding: 20px;
        background: none;
        color: $navy;
        font-size: 1.5vw;
        font-family: "Montserrat", "Roboto", "Noto Sans KR", sans-serif;
        resize: none;
      }
      .send-btn {
        height: 15%;
        font-size: 2.5vw;
        transition: all 0.1s ease-in-out;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background: $navy;
          color: white;
        }
      }
    }
  }
  .slide-mask {
    width: 100%;
    height: 100%;
    // -webkit-mask-image: radial-gradient(black 55%, rgba(0, 0, 0, 0) 50%);
    // mask-image: radial-gradient(black 50%, rgba(0, 0, 0, 0));

    .slide-img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .slide-list {
        height: 4800px;
        display: flex;
        flex-direction: column;
        .img-list {
          height: 2400px;
          display: flex;
          flex-direction: column;
          li {
            width: 100%;
            height: 600px;
          }
        }
      }
      .animation {
        animation: infinite_slide 60s linear infinite;
      }
      @keyframes infinite_slide {
        0% {
          transform: translateY(0%);
        }
        100% {
          transform: translateY(-50%);
        }
      }
      &:hover {
        .animation {
          animation-play-state: paused;
        }
      }
    }
  }
  & > p {
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
  }
  .show-btn {
    display: none;
  }
}

/* media-query */
@include laptop {
  // ~ 978
  #contact {
    .contact-form {
      input,
      textarea,
      form {
        .send-btn {
          font-size: 2em;
        }
      }
      .send-btn {
        border: 0;
        padding: 10px;
      }
    }
    .slide-mask {
    }
    & > p {
      bottom: 55px;
    }
    .footer {
      grid-column: span 2;
    }
  }
}
@include tablet {
  // ~ 768
  #contact {
    display: block;
    .contact-form {
      height: calc(100% - 80px) !important;
      border-right: 0;
      border-bottom: 1px solid $navy;
      h2 {
        font-size: 4em;
      }
      form {
        input,
        textarea,
        .send-btn {
          font-size: 1.8em;
        }
        .send-btn {
          border: 2px solid $navy;
        }
      }
    }
    .slide-mask {
      display: none;
    }
    @keyframes turn-btn {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
    & > p {
      display: none;
    }
    .footer {
    }
  }
}
@include mobile {
  // ~ 414
  #contact {
    .contact-form {
      height: calc(100% - 100px) !important;
    }
    .show-btn {
      bottom: calc(12% + 20px + 100px);
    }
    .footer {
    }
  }
}
