@import "_variables";
@import "_mixins";

#container {
  .wrap {
    #portfolio {
      position: relative;
      height: 100%;
      & > div {
      }
      .mockup {
        border-bottom: 1px solid $navy;
        height: 60%;
      }
      .text {
        height: 40%;
      }
      .link {
        width: 300px;
        height: 300px;
        background: white;
        color: black;
        cursor: grab;
        position: absolute;
        bottom: 30px;
        right: 30px;
        border: 3px solid $navy;
      }
    }
  }
}

/* media-query */
@include laptop {
  // ~ 978
}
@include tablet {
  // ~ 768
}
@include mobile {
  // ~ 414
}
