@import "_variables";
@import "_mixins";

#portfolio {
  position: relative;
  height: 100%;
  .gallery {
    border-bottom: 1px solid $navy;
    height: 85%;
    transition: height 0.2s;
    .wrap-column {
      height: 100%;
      overflow: auto;
      .list {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        background: $navy;
        gap: 1px;
        .item {
          height: 100%;
          background: $beige;
          position: relative;
          cursor: pointer;
          text-align: center;
          @include flex-center;
          &:hover {
          }
          &:nth-child(n + 7) {
            display: none;
          }
        }
        &.all {
          height: 150%;
          .item:nth-child(n + 7) {
            display: flex;
          }
        }
      }
    }
  }
  .more-btn {
    width: 100%;
    height: 15%;
    @include flex-center;
    font-size: 1.5vw;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: $navy;
      color: white;
    }
    &.scroll {
      background: $navy;
      color: white;
      cursor: inherit;
      i {
        margin: 0 10px;
        font-size: 0.8em;
      }
    }
  }
  .view {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    .cont {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $beige;
      gap: 1px;
      color: $beige;
      transition: all 0.3s;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 60px 1fr;
      & > div {
        background: $navy;
        overflow: auto;
      }
      &.active {
        top: 100%;
      }
      .head {
        grid-column: span 2;
        padding: 8px 20px;
        .close-btn {
          font-size: 3em;
          color: $beige;
        }
      }
      .img {
      }
      .text {
        padding: 30px;
        h5 {
          font-size: 1.6em;
          background: $beige;
          color: $navy;
          display: inline-block;
          padding: 3px 10px;
          margin-bottom: 20px;
          word-break: keep-all;
        }
        .link {
          font-size: 1.2em;
          span {
            display: block;
            font-weight: bold;
            font-size: 1.4em;
            margin-bottom: 10px;
            margin-left: 3px;
          }
          a {
            padding: 0 5px;
            display: inline-block;
            color: $beige;
            line-height: 1.6;
            text-decoration: underline;
          }
        }
        p {
          margin: 30px 0 40px;
          font-size: 1.2em;
          line-height: 1.5;
          word-break: keep-all;
        }
        .skill {
          span {
            display: inline-block;
            margin-right: 5px;
            padding: 2px 5px;
            border: 1px solid $beige;
            color: $beige;
          }
        }
      }
    }
  }
}

/* media-query */
@include laptop {
  // ~ 978
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
          grid-template-columns: repeat(2, 1fr);
          background: $navy;
          gap: 1px;
          .item {
            height: 100%;
            background: $beige;
            position: relative;
            cursor: pointer;
            &:nth-child(n + 5) {
              display: none;
            }
          }
          &.all {
            height: 250%;
            .item:nth-child(n + 5) {
              display: flex;
            }
          }
        }
      }
    }
    .more-btn {
      font-size: 2em;
    }
  }
}
@include tablet {
  // ~ 768
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
        }
      }
    }
    .view {
      .cont {
        display: flex;
        flex-direction: column;
        .head {
          position: absolute;
        }
        .img {
          height: 50%;
          overflow: auto;
        }
        .text {
          padding-bottom: 0;
          height: 50%;
        }
      }
    }
  }
}
@include mobile {
  // ~ 414
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
          display: flex;
          flex-direction: column;
          height: 200%;
          .item {
          }
          &.all {
            height: 450%;
          }
        }
      }
    }
  }
}
