@import "_variables";
@import "_mixins";

#portfolio {
  position: relative;
  height: 100%;
  .gallery {
    border-bottom: 1px solid $navy;
    height: 85%;
    transition: height 0.2s;
    .wrap-column {
      height: 100%;
      overflow: auto;
      .list {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        background: $navy;
        gap: 1px;
        .item {
          height: 100%;
          background: $beige;
          position: relative;
          cursor: pointer;
          text-align: center;
          @include flex-center;
          overflow: hidden;
          h2 {
            display: none;
          }
          &:nth-child(n + 7) {
            display: none;
          }
          &:nth-child(1) {
            background: url('../../img/thum-freeprie2.png') no-repeat center;
            background-size: cover;
          }
          &:nth-child(2) {
            background: url('../../img/thum-vsc.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(3) {
            background: url('../../img/thum-spw.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(4) {
            background: url('../../img/thum-porrtfolio.png') no-repeat center;
            background-color: $beige;
            background-size: contain;
          }
          &:nth-child(5) {
            background: url('../../img/thum-designhouse.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(6) {
            background: url('../../img/thum-airbnb.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(7) {
            background: url('../../img/thum-m-shoppingmall.png') no-repeat center
              top;
            background-size: cover;
          }
          &:nth-child(8) {
            background: url('../../img/thum-shoppingmall-main.png') no-repeat
              center top;
            background-size: cover;
          }
          &:nth-child(9) {
            background: url('../../img/thum-oliveyoung.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(10) {
            background: url('../../img/thum-megabox.png') no-repeat center top;
            background-size: cover;
          }
          &:nth-child(11) {
            background: url('../../img/thum-nhpension.png') no-repeat center top;
            background-size: cover;
          }
          &::after {
            content: "";
            background: $navy;
            position: absolute;
          }
          &:hover {
            position: relative;
            &::after {
              width: 100%;
              height: 100%;
            }
            h2 {
              display: block;
              color: #fff;
              z-index: 2;
            }
          }
        }
        &.all {
          height: 200%;
          .item:nth-child(n + 7) {
            display: flex;
          }
        }
      }
    }
  }
  .more-btn {
    width: 100%;
    height: 15%;
    @include flex-center;
    font-size: 1.5vw;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: $navy;
      color: #fff;
    }
    &.scroll {
      background: $navy;
      color: #fff;
      cursor: inherit;
      i {
        margin: 0 10px;
        font-size: 0.8em;
      }
    }
  }
  .view {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    z-index: 3;
    .cont {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: $beige;
      gap: 1px;
      color: #fff;
      transition: all 0.3s;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 60px 1fr;
      & > div {
        background: $navy;
      }
      &.active {
        top: 100%;
      }
      .head {
        grid-column: span 2;
        z-index: 3;
        button {
          padding: 8px 20px;
        }
        .close-btn {
          float: right;
          font-size: 3em;
          color: #fff;
        }
      }
      .img {
        overflow: auto;
        position: relative;
        text-align: center;
        padding:20px;
        img {
          width: auto;
          max-width: 100%;
          height: auto;
          padding:5px;
        }
        p {
          display: block;
          width: max-content;
          padding: 5px 10px;
          margin: 30px auto 10px;
          background: #fff;
          color: $navy;
          font-weight: bold;
          // &:first-child {
          //   position: absolute;
          //   top: 0;
          //   left: 2px;
          //   margin: 0;
          //   background: rgba(0, 0, 0, 0.7);
          //   font-weight: normal;
          //   color: #fff;
          // }
        }
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #e9e9e9;
        }
      }
      .text {
        padding: 30px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #e9e9e9;
        }
        h5 {
          font-size: 1.6em;
          background: #fff;
          color: $navy;
          display: inline-block;
          padding: 3px 10px;
          margin-bottom: 20px;
          word-break: keep-all;
        }
        .link {
          font-size: 1.2em;
          span {
            display: block;
            font-weight: bold;
            font-size: 1.4em;
            margin-bottom: 10px;
            margin-left: 3px;
          }
          a {
            padding: 0 5px;
            display: inline-block;
            color: #fff;
            line-height: 1.6;
            text-decoration: underline;
          }
        }
        p {
          margin: 30px 0 40px;
          font-size: 1.2em;
          line-height: 1.5;
          word-break: keep-all;
        }
        .skill {
          span {
            display: inline-block;
            margin-right: 5px;
            padding: 2px 5px;
            border: 1px solid #fff;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 979px) and (orientation: portrait) {
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
          display: flex;
          flex-direction: column;
          .item {
            height: 33.333%;
            &:nth-child(n + 4) {
              display: none;
            }
          }
          &.all {
            height: 266.666%;
            .item:nth-child(n + 4) {
              display: flex;
            }
          }
        }
      }
    }
    .view {
      .cont {
        display: flex;
        flex-direction: column;
        .img {
          height: 60%;
        }
        .text {
          height: 40%;
        }
      }
    }
  }
}

/* media-query */
@include laptop {
  // ~ 978
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
          grid-template-columns: repeat(2, 1fr);
          background: $navy;
          gap: 1px;
          .item {
            height: 100%;
            background: $beige;
            position: relative;
            cursor: pointer;
            &:nth-child(n + 5) {
              display: none;
            }
          }
          &.all {
            height: 300%;
            .item:nth-child(n + 5) {
              display: flex;
            }
          }
        }
      }
    }
    .more-btn {
      font-size: 2em;
    }
  }
}
@include tablet {
  // ~ 768
  #portfolio {
    .view {
      .cont {
        display: flex;
        flex-direction: column;
        background: $navy;
        .head {
          position: absolute;
          right: 3px;
          background: none;
          .close-btn {
            color: #fff;
            i {
              text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
                1px 1px 0 #000;
            }
          }
        }
        .img {
          height: 50%;
          overflow: auto;
          padding: 20px 30px;
          border-bottom: 1px solid $beige;
          p {
            margin-left: 0;
          }
        }
        .text {
          padding-bottom: 50px;
          height: 50%;
        }
      }
    }
  }
}
@include mobile {
  // ~ 414
  #portfolio {
    .gallery {
      .wrap-column {
        .list {
          display: flex;
          flex-direction: column;
          height: 100%;
          .item {
            &:nth-child(n + 3) {
              display: none;
            }
          }
          &.all {
            height: 550%;
            .item:nth-child(n + 3) {
              display: flex;
            }
          }
        }
      }
    }
    .view {
      .cont {
        .head {
          padding-top: 3px;
        }
        .img {
          height: 60%;
          padding: 5px 15px;
        }
        .text {
          height: 40%;
        }
      }
    }
  }
}
